<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
		
        <add key="ConnectionString" value="Data Source=10.3.11.13;Initial Catalog=LandAndResourcesBureauSys;Persist Security Info=True;User ID=sa;Password=123"/>
     
        <!-- 系统名称-->
        <add key="sysName" value="镇江市国土资源保护系统"/>

        <!-- 起始年份-->
        <add key="startYear" value="2013"/>
	
        <!--数据库名称-->
        <add key="dbName" value="SalesShare"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="3600" maxRequestLength="20000000" maxQueryStringLength="10240" requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
